*{
    margin: 0;
    padding: 0;
}

.loadingBx{
    animation: changeColor linear 4s infinite;
    position: fixed;
    /* top: 0;
    right: 0;
    bottom: 0;
    left: 0; */
    width: 100vw;
    height: 100vh;
    z-index: 100000000000;
    background: rgba(0,  0, 0, 0.9);
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;
}
.show{
    visibility: visible;
    opacity: 1;
}
.loading{
    position: relative;
    width: 150px;
    height: 150px;
    border: 15px solid #00ffff;
    border-radius: 50%;
    border-bottom-color: transparent;
    border-left-color: transparent;
    animation: rotate1 linear 2s infinite;
}
.loading::before{
    content: '';
    position: absolute;
    top: 25px;
    left: 25px;
    bottom: 25px;
    right: 25px;
    border: 10px solid #00ffff;
    border-radius: 50%;
    border-bottom-color: transparent;
    border-left-color: transparent;
    animation: rotate2 linear 2s infinite;
}
.loading::after{
    content: '';
    position: absolute;
    top: 50px;
    left: 50px;
    bottom: 50px;
    right: 50px;
    border: 5px solid #00ffff;
    border-radius: 50%;
    border-bottom-color: transparent;
    border-left-color: transparent;
    animation: rotate1 linear 2s infinite;
}
@keyframes changeColor {
    0%{
        filter: hue-rotate(0deg);
    }
    100%{
        filter: hue-rotate(360deg);
    }
}
@keyframes rotate1 {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
@keyframes rotate2 {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(-720deg);
    }
}